.azul-claro {
    color: #61dafb;
  }

  .azul {
    color: royalblue;
  }

  .laranja {
    color: coral;
  }

  .vermelho {
    color: lightcoral;
  }

  .cinza {
    color: gray;
  }

  .amarelo {
    color: yellow;
  }

  .roxo {
    color: violet;
  }

  .verde{
    color: springgreen;
  }

  .aqua {
    color: aqua;
  }