.flex-grid {
    height: 175vh;
    width: 100%;

}

.flex-grid__div {
    margin-left: 400px;
    width: 45%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media  screen and (min-width: 412px) and (max-width:430px) {
    .flex-grid__div {
        margin-left: 15px;
        width: 96%;
    }
}

