html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    color: var(--cor-de-fonte);
    font-size: 1.30em;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.titulo {
    font-weight: bold;
    font-size: 1.75em;
    border-bottom: 1px  solid  var(--border-color);
}