html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    color: var(--cor-de-fonte);
    font-size: 1.30em;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    width: 98vw;
}

.titulo {
    font-weight: bold;
    font-size: 1.75em;
    border-bottom: 1px  solid  var(--border-color);
}

@media screen and (min-width: 412px) and (max-width:430px) {
    body {
        height: 100vh;
        width: 100vw;
    }
    span {
        font-size: 15px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .footer {
        margin-top: 320px;
    }
}