.main__seletoresBásicos {
    height: 135vh;
    width: 100%;

}

.seletores__div {
    margin-left: 400px;
    width: 45%;
}

.seletores__ul {
    list-style: none;
}

pre {
    border: 1px  solid  var(--border-color);
}

@media  screen and (min-width: 412px) and (max-width:430px) {
    .seletores__div {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 96%;
    }

    pre {
        width: 96%;
    }
}
